<a href="https://colab.research.google.com/github/ranianba23/DataMining/blob/master/PythonClass1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# First Python **Lab**

In [ ]:
print("Hello Python")

Hello Python

In [ ]:
orange=5
apple=4
total= orange + apple
print(total)

9

In [ ]:
mugs=12
plates=5
cups=8
total= 3*mugs + 5*plates + 2*cups
print(total)

77

In [ ]:
name="Rani" #"" / '' doesn't matter
age=27
height=167
married= False

# LAB 2: **PYTHON OPERATIONS**

In [ ]:
name= 'Rani'
food= 'cheese'
age='27'

In [ ]:
name #show raw result

'Rani'

In [ ]:
print(name) #print content

Rani

In [ ]:
#define function #function to return value
def age():
  age = 20
  return age

In [ ]:
age()

20

In [ ]:
#function with 2 variables
def area(width,height):
  return width * height

In [ ]:
area(4,3)

12

In [ ]:
#conditions
#example 1
age=input('How old are you>?')

if int(age) > 18:
  print("You are allowed to enter")
else:
  print("Sorry, you are not allowed!")

How old are you>?5
Sorry, you are not allowed!

**EXERCISES**

In [ ]:
#exercise 1
#temperature converter(F to celcius)


F = input ("Fahrenheit:")

def Fahrenheit():
  Fahrenheit = (float(F) - 32) * 5/9
  return Fahrenheit
Fahrenheit()

Fahrenheit:100

37.77777777777778

In [ ]:
#exercise 2
#convert currency

Currency= input("Currency Type:")
Amount= input("Amount:")

if Currency == "MYR":
  Calculate_SGD= float(Amount) * 0.33
  print("SGD",Calculate_SGD)
else:
  Calculate_MYR= float(Amount) * 3.06
  print("MYR",Calculate_MYR)

Currency Type:SGD
Amount:1000
MYR 3060.0

In [ ]:
#LIST -store more than one value

names= ["Rani","Raji","Amar"]
print(names)

['Rani', 'Raji', 'Amar']

In [ ]:
for name in names:
  print(name.upper())

RANI
RAJI
AMAR

In [ ]:
shopping_list=["banana",2,"apple",4]
print(shopping_list)

['banana', 2, 'apple', 4]

In [ ]:
#DICTIONARY-store multiple values with name (unique name)
#key and value
employee ={'age':27,'name':"Rani"}
employee['age']

27

In [ ]:
employee["position"]="data engineer"
employee

{'age': 27, 'name': 'Rani', 'position': 'data engineer'}

In [ ]:
#exercise 3
#Area of Circle -pi * r2
pi = 3.141592653589793
r=1.1
def Area():
  Area = pi * r * r
  return Area

Area()

3.8013271108436504

In [ ]:
from math import pi
r= float(input("Radius:"))
def Area():
  Area = str(pi * r**2)
  return Area

Area()

Radius:1.1

'3.8013271108436504'

In [ ]:
#Reverse first and last name
fname = input("Your first name:")
lname = input("Your last name:")
print(lname,"",fname)

Your first name:Rani
Your last name:Amar
Amar  Rani

In [ ]:
#display the first and last colors from the following list. 
color_list = ["Red","Green","White" ,"Black"]

print("First color:",color_list[0])
print("Last color:", color_list[-1])

#first element is assigned index value 0 and the last element can be considered as a value -1

First color: Red
Last color: Black

In [ ]:
#exam_st_date = (11, 12, 2014)
#Sample Output : The examination will start from : 11 / 12 / 2014

exam_st_date = (11, 12, 2014)

print("The examination will start from :%i / %i / %i"%exam_st_date)

The examination will start from :11 / 12 / 2014

In [ ]:
import calendar
y = int(input("Input the year : "))
m = int(input("Input the month : "))
print(calendar.month(y, m))

Input the year : 2000
Input the month : 1
    January 2000
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [ ]:
#calculate the sum of three given numbers, if the values are equal then return three times of their sum.
num1= int(input("First num:"))
num2= int(input("Second num:"))
num3= int(input("Third num:"))


if (num1==num2==num3):
  sum= num1+num2+num3
  sum3= sum*3

  print("Sum of numbers:",sum3)
else:
  print("Values not equal")

First num:3
Second num:3
Third num:3
Sum of numbers: 27

In [ ]:
#print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]
numbers = sorted(numbers)
print(numbers)

for num in numbers:
  if ((num <= 237) and (num % 2 == 0) ):
    
    print ("Even numbers",num)

[24, 47, 58, 67, 81, 104, 162, 217, 219, 236, 237, 248, 328, 344, 345, 375, 379, 386, 399, 412, 418, 445, 462, 512, 527, 553, 566, 566, 597, 615, 626, 687, 717, 742, 743, 758, 767, 815, 823, 826, 831, 843, 866, 892, 894, 907, 918, 949, 950, 953, 958, 978]
Even numbers 24
Even numbers 58
Even numbers 104
Even numbers 162
Even numbers 236

**LOOPS - FOR & WHILE**

In [ ]:
name = 'Jonhny Deep'

for letter in name:
  print(letter)

J
o
n
h
n
y

D
e
e
p

In [ ]:
#while loop-execute until the statement is true
fruits=['apple','orange','strawberry','ciku']
counter=0
while(len(fruits)>0):
  fruit=fruits.pop() #take out last item from the list
  print("Process",counter,fruit)
  counter=counter +1

Process 0 ciku
Process 1 strawberry
Process 2 orange
Process 3 apple

**EXERCISE - LOOPS**

In [ ]:
#iterate through the list and if there is a 100, print it with its index number. i.e.: "There is a 100 at index no: 5"
lst=[10, 99, 98, 85, 45, 59, 65, 66, 76, 12, 35, 13, 100, 80, 95]
i = 0
while (i < len(lst)): # returns the number of items in an object/ characters in the string
    if lst[i] == 100:
        print("There is a 100 at index no: " + str(i))
    i = i+1

There is a 100 at index no: 12

In [ ]:
lst1=["Joe", "Sarah", "Mike", "Jess", "", "Matt", "", "Greg"]
def name_adder(list):
    i = 0
    new_list = []
    while i < len(list):
        if list[i] != "":
            new_list.append(list[i])
        i = i+1
    return new_list

print(name_adder(lst1))

['Joe', 'Sarah', 'Mike', 'Jess', 'Matt', 'Greg']

In [ ]:
#while loop that stops appending items to the new list as soon as it encounters an empty string: ""
lst1=["Sam", "", "Ben", "Olivia", "Alicia"]
def name_adder(list):
    i = 0
    new_list = []
    while i < len(list):
        if list[i] != "":
            new_list.append(list[i])
        else:
            break
        i = i+1
    return new_list

print(name_adder(lst1))

['Sam']

In [ ]:
#print int 0-9
count = 0 #define variable

while count < 9: #condition
  print("Number:",count)
  count = count+1

print("Bye") #went out the loop

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4
Number: 5
Number: 6
Number: 7
Number: 8
Bye

In [ ]:
#guessing game- from random number
import random #generate random num
n = 20 #range of the random num
to_be_guessed= int(n * random.random()) + 1 #logic to generate random num 0 -20
guess = 0 #initialization

while guess != to_be_guessed: # condition - num i guess is not equal to the random num
  guess = int(input("New Number: "))
  if guess > 0:
    if guess > to_be_guessed:
      print("Number is large")
    elif guess < to_be_guessed:
      print("Number is small")
  else:
    print("Sorry that you're giving up")
    break
else:
  print("Congratulations, you made it!")

New Number: 16
Number is large
New Number: 10
Number is small
New Number: -3
Sorry that you're giving up

In [ ]:
fruits = ['mango','ciku','grape']#only 3 iterations will take place

for fruit in fruits:
  print("current fruit:",fruit)

print("Bye")

current fruit: mango
current fruit: ciku
current fruit: grape
Bye

In [ ]:
#factorial of num- factorial function (symbol: !) says to multiply all whole numbers from our chosen number down to 1.

num = int(input("Number:"))
factorial=1

if num < 0:
  print("Must be positive")
elif num == 0:
  print("factorial = 1")

else:
  for i in range(1,num + 1): #num + 1- range between 1 to num
    factorial = factorial*i #factorial is eq to 1 in initial
  print(factorial)

Number:3
6

In [ ]:
#Nested loop - while

print ("Welcome to Maybank Malaysia")
restart= ("y")
chances=3
balance= 105.00

while chances >= 0:
  pin = int(input("Enter your Pin num: "))
  if pin == (5264):
    print("You entered correctly.")
    while restart not in ('n','N','no','NO','No'):
      print("Press 1 : Balance")
      print("Press 2 : Withdraw")
      print("Press 3 : Pay in")
      print("Press 4 : Return Card")
      option=int(input("Which option would you like to choose?"))

      if option==1:
        print("Your balance is",balance)
        restart = input("Would you like to go back to main page?")
        if restart in ('n','N','no','NO','No'):
          print("Thank you")
          break
      elif option==2:
        restart=("y")
        withdrawl = float(input("How much you would like to withdraw?"+"\n"+"Withdrawl amounts are 10,20,50,60,100:"))
        if withdrawl in [10,20,50,60,100]:
          balance = balance - withdrawl
          print("Current balance",balance)
          restart = input("Would you like to go back to main page?")
          if restart in ('n','N','no','NO','No'):
              print("Thank you")
              break
          elif withdrawl != [10,20,50,60,100]:
            print("Invalid amount. Retry")
            restart= ("y")
          elif withdrawl == 1:
            withdrawl = float(input("Please enter desired amount:"))

      elif option==3:
          Pay_in = float(input("How much would you like to pay in"))
          balance=balance + Pay_in
          print("Current balance:",balance)
          restart = input("Would you like to go back to main page?")
          if restart in ('n','N','no','NO','No'):
             print("Thank you")
             break

      elif option== 4 :
          print("Wait your card is returned")
          print("Thank you")
          break

      else:
          print("Please enter correct number:")
          restart=("y")

  elif pin != (5264):
    print("Incorrect password")
    chances= chances - 1
    if chances == 0:
      print("No more tries. Sorry")
      break

Welcome to Maybank Malaysia
Enter your Pin num: 5264
You entered correctly.
Press 1 : Balance
Press 2 : Withdraw
Press 3 : Pay in
Press 4 : Return Card
Which option would you like to choose?3
How much would you like to pay in30
Current balance: 135.0
Would you like to go back to main page?y
Press 1 : Balance
Press 2 : Withdraw
Press 3 : Pay in
Press 4 : Return Card
Which option would you like to choose?4
Wait your card is returned
Thank you
Enter your Pin num: 123
Incorrect password
Enter your Pin num: 123
Incorrect password
Enter your Pin num: 345
Incorrect password
No more tries. Sorry

In [ ]:
#Nested loop - for
#pythogras num 1-20 

from math import sqrt
n= int(input("Maximal Number?"))

for a in range(1, n+1):
  for b in range(a,n):
    c_square= a**2 + b**2
    c = int(sqrt(c_square)) #convert to int value
    if ((c_square - c**2)==0):
      print(a, b, c)

Maximal Number?16
3 4 5
5 12 13
6 8 10
8 15 17
9 12 15

In [ ]:
#Bulk reservation of train ticket
#for loop inside while loop

travel = input("yes or no:")

while travel == "yes":

  num = int(input("Number of passangers:"))

  for num in range(1, num + 1):
    name = input("Name:")
    age = input("Age:")
    sex = input("Male or female:")

    print(name)
    print(age)
    print(sex)
    
  travel= input("Forgot someone")

yes or no:yes
Number of passangers:1
Name:Raji
Age:24
Male or female:F
Raji
24
F
Forgot someoneno

In [ ]:
num= 0
for num in range(1500,2700):
   if ((num %  7 == 0) and (num % 5 == 0) ):
     print("Number in range", num)

Number in range 1505
Number in range 1540
Number in range 1575
Number in range 1610
Number in range 1645
Number in range 1680
Number in range 1715
Number in range 1750
Number in range 1785
Number in range 1820
Number in range 1855
Number in range 1890
Number in range 1925
Number in range 1960
Number in range 1995
Number in range 2030
Number in range 2065
Number in range 2100
Number in range 2135
Number in range 2170
Number in range 2205
Number in range 2240
Number in range 2275
Number in range 2310
Number in range 2345
Number in range 2380
Number in range 2415
Number in range 2450
Number in range 2485
Number in range 2520
Number in range 2555
Number in range 2590
Number in range 2625
Number in range 2660
Number in range 2695

In [ ]:
n=int(input("Number:"))

def Difference(n):
  
    if n >= 17:
        return n - 17
    else:
        return abs(n - 17) 

print(Difference(n))

Number:20
3

In [ ]:
#calculate the sum of three given numbers, if the values are equal then return three times of their sum.
a=int(input("Number 1:"))
b=int(input("Number 2:"))
c=int(input("Number 3:"))

def sum(a,b,c):
  if a==b==c:
    return (a + b + c) *3
  else:
    return(a + b + c)

print(sum(a,b,c))

Number 1:2
Number 2:2
Number 3:2
18

In [ ]:
#string
#Get a new string from a given string where 'Is' has been added to the front. If the given string already begins with 'Is' then return the string unchanged
str= input("What's in your mind?")
def new_string(str):
  if len(str) >= 2 and str[:2] == "Is":
    return str
  return "Is" + str

print(new_string(str))

What's in your mind?Is That You?
Is That You?